* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
    scroll-behavior: smooth;
}

/* Nav */

ul {
    position: fixed;
    right: 3%;
    top: 3%;
    z-index: 1;
}

ul > li {
    display: inline-block;
    background-color: white;
    list-style: none;
    padding: 15px;
    margin: 25px;
    border-radius: 50%;
    line-height: 30px;
    font-size: 30px;
}

ul > li > a {
    text-decoration: none;
    display: block;
    height: 30px;
    width: 30px;
    text-align: center;
}

/* main content */

.brand-1,
.brand-2,
.brand-3 {
    height: 100vh;
    position: relative;
}

.brand-1 {
    background-color: red;
}

.brand-2 {
    background-color: green;
}

.brand-3 {
    background-color: yellow;
}

.img {
    height: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.brand-description {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 80%;
    left: 50%;
    font-size: 7vh;
    text-align: center;
    color: yellow;
}

#inverse-color {
    color: green;
}